<app-post-preview
  [pictureFirst]="true"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<app-post-preview
  [pictureFirst]="false"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<app-post-preview
  [pictureFirst]="true"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<app-post-preview
  [pictureFirst]="false"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<app-post-preview
  [pictureFirst]="true"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<app-post-preview
  [pictureFirst]="false"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<app-post-preview
  [pictureFirst]="true"
  [pictureURL]="pictureURL"
  [postTitle]="postTitle"
  [postDescription]="postDescription"
  [postURL]="postURL"
></app-post-preview>
<!--
  (error)="errorHandler($event)"
  (loaded)="loadedHandler($event)" -->
